body{
    background-color:#000e14;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: #b7c7e7;
    font-size: 5vh;
}
/* header */
#header_1{
    height: 4vh;
    font-size: 3vh;
    background-color: #021925;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
#header_1_div_2{
    display: flex;
    flex-shrink: 1;
    gap: 2vh ;
}
#header_1_div_1{
    display: flex;
    flex-shrink: 1;
    gap: 2vh;
}
#header_1_div_1_button {
    width: 4vh;     
    height: 4vh;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    cursor: pointer;
}
#header_1_div_1_button img {
    width: 100%;
    height: 100%;
    object-fit: contain;     
}
#header_1_div_2_a_2{
    margin-right: 50px;
}

/* body_1 / aboutme */
#body_1{
    background-color: #144058;
    height: 96vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 64px;
}

/* body_2 / projects */
#body_2{
    background-color: #1a3c50;
    height: 96vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#project_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#project_box{
    border: none;
    height: 43.5vh;
    width: 63vh;
}
#project_box img{
    height: 87%;
    width: 98%;
    border-radius: 10px
}

/* footer/contact */
#footer{
    background-color: #214255;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 8vh;
    flex-wrap: wrap;
}
i{
    color: #6e7fa1;
}
a{
    text-decoration: none;
    color: #c9dafacc;
}
a:hover{
    color: #8fb0ecdc;
}
a:visited{
    color:#6082ca ;
    font-style: italic;
}
a:visited:hover{
    color:#3361bd50 ;
}